<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The 1K - 당신의 공부는?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">
</head>

<body>
    <div class="title">
        <div class="title_logo">
            <img src="static/images/Focusonme.png" alt="black LOGO" id="Focusonme">
        </div>
    </div>
    <div class="middle">
        <span class="script">
            <div class="white_board">
                <div class="main_script">
                    공부의 순간을 기록하고<br>
                    성장의 발자취를 남겨보세요<br><br>

                    "더 이상 상황을 바꿀 수 없을 때<br><br>
                    우리는 스스로를 변화시켜야 합니다."<br><br>

                    우리 같이 공부할까요?<br><br>

                    SNS 간편 로그인<br>
                    <a href="{{ url_for('google_login') }}">
                        <img src="static/images/google_button_img.png" alt="구글 로그인 버튼 이미지">구글 로그인</a>
                </div>
            </div>
        </span>
        <span class="main_img">
            <img src="static/images/main_img.png" alt="메인 페이지 이미지">
        </span>
    </div>
    <div class="contact_us">
        <div class="contact">
            <h3>Contact US</h3>
        </div>
    </div>
</body>

</html>